* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #FFFFFF;
    --black-color: #000000;
    --red-color: #f44336;
    --blue-color: #2196F3;
    --yellow-color: #ffeb3b;
    --green-color: #04AA6D;
    --gray-color: gray;
    --bg-light-green: #ddffdd;
    --bg-light-yellow: #ffffcc;
    --bg-light-pink: #ffdddd;
    --bg-light-blue: #e7f3fe;
}
